@model WebApplication2.Models.Pizza

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pizza</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PizzaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PizzaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TomatoSauce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TomatoSauce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cheese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cheese)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peperoni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peperoni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mushroom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mushroom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pineapple)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pineapple)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beef)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beef)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinalPrice)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
