@model IEnumerable<WebApplication2.Models.Cart>

@{
    ViewData["Title"] = "My cart";
}


@if (Model != null && Model.Any())
{

    float sumPrice = 0;
    float totalPizzasQuantity = 0;
    <h1>Cart</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pizza.PizzaName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                        @{
                            totalPizzasQuantity += item.Quantity;
                        }
                    </td>
                    <td>
                        @(item.Pizza.FinalPrice * item.Quantity)
                        @{
                            sumPrice += item.Pizza.FinalPrice * item.Quantity;
                        }
                    </td>
                    <td>
                        <form asp-controller="Carts" asp-action="Delete">
                            <input type="hidden" value="@item.Id" name="item_id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <thead>
            <tr>
                <th>
                    Final price
                </th>
                <th>
                    @Html.DisplayFor(model => totalPizzasQuantity)

                </th>
                <th>
                    @Html.DisplayFor(model => sumPrice)

                </th>
                <th>
                    <form asp-controller="Carts" asp-action="DeleteAll">
                        <input type="submit" value="Discard Order" class="btn btn-danger" />
                    </form>
                </th>
            </tr>
        </thead>
    </table>
    <div>
        <a class="btn btn-primary mt-1" asp-area="" asp-controller="Carts" asp-action="Buy">Buy</a>
    </div>
}
else
{
    <h1>Your cart is empty!</h1>
    <div>
        <a class="btn btn-primary mt-1" asp-area="" asp-controller="Shop" asp-action="Index">Order some pizza!</a>
    </div>
}



